{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="row pt-5">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
                {%for msg in messages%}
                    {{msg}}
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><form action="" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="button" class="btn btn-success">Update</button>     
        </form>
    </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}